<div class="employee-form container">
  <form #employeefilter="ngForm" (ngSubmit)="submitFilter(employeefilter)">
      <div class="form-row">
          <div class="col-md-4">
              <input type="text" class="form-control" placeholder="position" name="position">
          </div>
          <div class="col-md-4">
              <input type="text" class="form-control" placeholder="State" name="state">
          </div>
          <div class="col-md-3">
              <input type="text" class="form-control" placeholder="City" name="city">
          </div>
          <div class="col-md-1">
              <input type="submit" class="btn btn-primary" name="submit" value="Filter">
          </div>
      </div>
  </form>
</div>

<table class="table employment">
  <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>position</th>
      <th>Address</th>
     
  </tr>
  <tr *ngFor="let employment of employments" (click)="onSelect(employment)">
    <td>{{employment.first_name}}</td>
    <td>{{employment.last_name}}</td>
    <td>{{employment.email}}</td>
    <td>{{employment.phone}}</td>
    <td>{{employment.position}}</td>
    <td>{{employment.street1}} {{employment.street2}}, {{employment.city}}, <br>{{employment.state}}, {{employment.zipcode}}, {{employment.country}}</td>
      
  </tr>
</table>
